

<html lang="en">
  <head>
    {% load myfilter %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

 <body>
{% comment %} <style>
    table,th,tr,td{
        border: 1px solid black;
    }
</style>  {% endcomment %}
    <table class="table table-striped">
        <tr>
            <th scope="col">Course code</th>
            <th scope="col">Course Name</th>
            <th scope="col">Duration</th>
            <th scope="col">Student View</th>
            <th scope="col">begin of ate</th>
            <th scope="col">  Time <th> 
            {% comment %} <th><a href="{% url 'add_student' %}" >  ADD STUDENTS </a></th> {% endcomment %}
        </tr>
            <tr>
                <td>{{object.c_code}}</td>
                <td>{{object.c_name}}</td>
                <td>{{object.duration}}</td>
                <td>{{object.c_num}}</td>
                <td>{{object.begin_date}}</td>
                <td> {{now}} </td> 
                {% comment %} <td>
                    <a href="/myapp/student/{{student.id}}"> View </a>
                    <a href="{% url 'edit_student' student_id=student.id%}"> Edit </a>
                    <a href="{% url 'delete_student' student_id=student.id%}"> Delete </a>
                </td> {% endcomment %}
            </tr>
    </table>
 </body>
<html>