<!DOCTYPE html>
<html>
<head>
    <title>Edit Course</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
</head>
<body>

<form action="" method="post">
    {%csrf_token%}

  <input required type="text" id="c_code" name="c_code" value="{{course.c_code}}"><br >

  
  <input required  type="text" id="c_name" name="c_name" value="{{course.c_name}}"><br> 

  <input required  type="number" id="duration" name="duration" value="{{course.duration}}"><br>

  <input required  type="date" id="begin_date" name="begin_date" value="{{course.begin_date}}"><br> 
  <input   type="submit" value="Edit">
</form>

</body>
</html> 
