<!DOCTYPE html>
<html>
<head>
    <title>Edit Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
</head>
<body>

{% comment %} <form action="" method="post">
    {%csrf_token%}
  
  <input required type="text" id="c_code" name="c_code" value="{{course.c_code}}"><br >

  
  <input required  type="text" id="c_name" name="c_name" value="{{course.c_name}}"><br>

  <input required  type="text" id="duration" name="duration" value="{{course.duration}}"><br>

  <input required  type="number" id="begin_date" name="begin_date" value="{{course.begin_date}}"><br>
  <input   type="submit" value="Edit">
</form> {% endcomment %}
<div class="container"> 
  <div class="row"> 
  <h1 >{{course.c_code}}</h1>
    <form>
    
      <div class="form-group">
        <label for="">Course Name</label>
        <input type="text" class="form-control" id="c_name"   value="{{course.c_name}}" >
        {% comment %} <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> {% endcomment %}
      </div>
      <div class="form-group">
        <label for="">Duration</label>
        <input type="number" class="form-control" id="duration" value="{{course.duration}}">
      </div>
      <div class="form-group">
        <label for="">Registed Student</label>
        <input type="text" class="form-control" id="c_num"  value="{{course.c_num}}" >
      </div>
      <div class="form-group">
        <label for="">Begin of Date</label>
        <input type="date" class="form-control" id="begin_date" value="{{course.begin_date}}" >
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div> 
</div > 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
