
<style>
    table,th,tr,td{
        border: 1px solid black;
    }
</style> 
<table style="width:100%">
    <tr>
        <th>Id</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Address</th>
        <th>Age</th>
        <th><a href="{% url 'add_student' %}" >  ADD STUDENTS </a></th>
    </tr>
    {% for student in students %}
        <tr>
            <td>{{student.id}}</td>
            <td>{{student.last_name}}</td>
            <td>{{student.first_name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.address}}</td>
            <td>
                <a href="/myapp/student/{{student.id}}"> View </a>
                <a href="{% url 'edit_student' student_id=student.id%}"> Edit </a>
                <a href="{% url 'delete_student' student_id=student.id%}"> Delete </a>
            </td>
        </tr>
    {% endfor %}
</table>